<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#" class="logo"></a><i class='bx bxs-circle' style="color: #DB6F32"></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#visualizer">Visualizer</a></li>
            <li><a href="#visualization">My visualization</a></li>
        </ul>

        <ul class="Sign">
            <li><a href="#Login" class="account">Login</a></li>
            <li><a href="#Register" class="account">Register</a></li>

        </ul>
    </header>


    <section class="home" id="home">
        <span>&lt;Empower you Understanding&gt;</span>
        <p>By giving you a tool to view how
            everything functions behind the
            scenes, our tool aims to make your algorithm learning
            journey easier and more transparent..</p>
        <a href="#" class="btn">Let's get started!</a>


    </section>

    <div class="visualizer-container" id="visualizer">
        <div class="header">&#60;Introduce visualizer for the language&#62;</div>
        <div class="cpp-visualizer">
            <div class="buttons-container">
                <div class="language">C++</div>
                <a class="buttons" href="visualizercpp">Flowchart</a>
                <a class="buttons" href="visualizercpp">Pseudo code</a>
                <div class="buttons">Our visualizer</div>
            </div>
            <img src="images/flowchart.png" class="flowchart">
        </div>
        <div class="python-visualizer">
            <img src="images/flowchart.png" class="flowchart">
            <div class="buttons-container">
                <div class="language">Python</div>
                <a class="buttons" href="visualizerpy">Flowchart</a>
                <a class="buttons" href="visualizerpy">Pseudo code</a>
                <a class="buttons">Our visualizer</a>
            </div>
        </div>
    </div>


    <section class="contact" id="contact" style="background-color: black">
        <div class="heading">
            <div>**** Become A Member ****</div> <br>
            <p>Ability to save and manage your visualization</p><br>
            <p>Sign in TODAY!!!</p><Br>
            <a href="#" class="btn">SIGN IN</a>
        </div>

        </div>
    </section>

    <section>
        <div class="paragraph" style="text-align: center;">
            <p>We are aware of how challenging it can be to find and fix logical errors in code.<br>
                Our goal is to streamline and expedite that process. While learning algorithms<br> and
                data structures, our tool is also a huge aid to enthusiasts and students<br> alike. This
                website was created in our freshman year of college for a project.
            </p>
        </div>
    </section>
    <div class="footer">
        <div class="credit">
            <img src="images/logo.png">
            <img id="uit" src="images/UIT.png">
        </div>
        <div class="socialMedia">
            <img src="images/facebook.png">
            <img src="images/gmail.png">
            <img src="images/git.png">
        </div>
    </div>







</body>

</html>