<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <link rel="stylesheet" href="stylesheets/Login.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/signup.js" defer></script>
    <script src="javascripts/login.js" defer></script>
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="images/Introduction.jpg" alt="">
                <div class="text">

                </div>
            </div>
            <div class="back">

                <div class="text">

                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form>
                        <div class="input-boxes">
                            <span class="error"></span>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" data-email placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" data-password placeholder="Enter your password" required>
                            </div>
                            <div class="text"><a href="#" style="color:black">Forgot password?</a></div>
                            <div class="button input-box">
                                <input type="submit" placeholder="Submit" style="color: #000;">
                            </div>
                            <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form>
                        <div class="input-boxes">
                            <span class="error"></span>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input data-name type="text" placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input data-email type="email" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input data-password type="password" placeholder="Enter your password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" placeholder="Submit" style="color: #000;">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>