html,
body {
    width: 100%;
    height: 100%;
    background-color: #000
}

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jacques+Francois&family=JetBrains+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

:root {
    --main-color: #79FFA6;
    --text-color: #000;
}

/* Body */
.container {
    background-color: #000;
    display: grid;
    width: 100%;
    grid-template-rows: 0.2fr 0.2fr 0.5fr;
    grid-template-columns: 1.5fr 0.75fr;
    grid-template-areas:
        'navbar1 navbar1'
        'navbar2 navbar2'
        'code input ';
    column-gap: 20px;
}

/* Navbar1 */
.navbar1Container {
    background: #16212D;
    grid-area: navbar1;
}

header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding-left: 1%;
    display: flex;
    width: 15%;
}

.navbar a {
    color: var(--main-color);
    font-size: 1rem;
}

.Signin {
    color: var(--main-color);
    display: flex;
    justify-content: space-around;
    width: 15%;
}
a{
    text-decoration: none;
}
.Signin a {
    color: var(--main-color);
    padding: 14px 16px;

}

.Login,
.Register {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
    border: white 1px solid;
    border-radius: 100rem;
    width: 45%;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
}

.content a {
    color: var(--main-color);
    font-size: 2vw;
    text-align: center;
    font-weight: 600;
}

/* Navbar 2 */
.navbar2Container {
    background: #223243;
    grid-area: navbar2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

}

.Visualizer {
    padding-left: 1%;
    display: flex;
    justify-content: left;
}

.Visualizer h3 {
    color: var(--main-color);
}

/* Tutorial */
.Tutorial {
    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-text-stroke: #000 1px;
    margin-left: 3%;
    margin-top: 2%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    color: #FFF;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.Tutorial a {
    display: flex;
    align-items: center;
    text-align: justify;
}


button {
    box-sizing: content-box;
    background-color: #000;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: white 1px solid;
    border-radius: 100rem;
    text-align: center;
    font-size: 1.5rem;
    color: #DB6F32;
    box-shadow: 5px 5px 10px #000;
    cursor: pointer;
}

/* View our tutorial */
.WorkContainer {
    -webkit-text-stroke: #000 1px;
    color: white;
    background:url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 4%;
    margin-top: 4%;
    padding-top: 10%;
    background-color: #DB6F32;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;

}

.OurTutorial {
    display: flex;
    justify-content: center;
}

.ButtonContainer {
    margin-top: 5%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ButtonContainer button {
    width: 20%;
}

.view-tutorial {
    margin-top: 2%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #223243;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 96%;
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 4rem;
}

.text {
    color: black;
    position: absolute;
}

.blur {
    overflow-y: hidden;
    overflow: hidden;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 8.625rem;
    opacity: 0.65;
    background: #395A7C;
    color: #395A7C;
    mix-blend-mode: color-dodge;
    filter: blur(23.450000762939453px);
}

.workspace{
    padding-top: 2%;
    margin-top: 2%;
    background-color: #2C3B52;
    padding-bottom: 2%;
}

.workspace .header {
    color: #DB6F32;
    text-align: center;
    font-family: 'Inter';
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.workspace .code-container {
    padding-right: 2%;
    overflow: auto;
    padding-left: 2%;
    display: flex;
    gap: 30px;
}

.code {
    flex-shrink: 0;
    padding-bottom: 3%;
    border-radius: 1.5rem;
    padding-top: 5%;
    background-color: #67D88D;
    width: 17%;
}

.code .id {
    text-align: center;
    font-size: 7rem;
}
.worspace .python{
    background-color: black;
}
.options-container {
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.options{
    padding-top: 5%;
    padding-bottom: 5%;
    width:70%;
}
.code-name{
    text-align: center;
    font-size: 2rem;
}
.workspace.python{
    background-color: rgb(49, 48, 48);
}
.paragraph {
    align-items: center;
    font-family: "Montserrat";
}

.footer {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: #1A5E5E;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
}

.credit,
.socialMedia {
    display: flex;
    justify-content: space-around;
}

#uit {
    width: 30%;
    aspect-ratio: 114/90;
}

.credit img {
    width: 25%;
    height: auto;
}
section{
    background-color: white;
}
.socialMedia img {
    width: 20%;
}