html,body{
    width:100%;
    height: 100%;
}
:root{
    --main-color: #79FFA6;
    --text-color: #000;
}
.container{
    background-color: #000;
    display:grid;
    height:100%;
    width:100%;
    grid-template-rows:0.2fr 0.2fr 1.5fr 1fr;
    grid-template-columns:1.5fr 0.75fr;
    grid-template-areas: 
    'navbar1 navbar1'
    'navbar2 navbar2'
    'code input'
    'code options';
    column-gap: 10px;
}

.navbar1Container{
    background: #16212D;
    grid-area: navbar1;  
   
}


.navbar{
    display: flex;
    justify-content: left;
}
.navbar a{
    color:var(--main-color);
}

.Signin{
    display: flex;
    justify-content: right;
}
.Signin a{
    color:var(--main-color);
    padding: 14px 16px; 
    
}




.content{
    display: flex;
    justify-content: center;
}

.content a{
    color:var(--main-color);
}

/* Section 2 */
.navbar2Container{
    background:#223243;
    grid-area: navbar2;
}
.Visualizer{
    display:flex;
    justify-content: left;
}
.Visualizer a{
    color:var(--main-color);
}
.Menu {
    display:flex;
    justify-content: right;
}
.Menu a{
    color: var(--main-color);
    padding: 14px 16px; 
    
}


.codeArea{
    background:#6EAEF9;
    grid-area: code;
}
.Code{
    display: flex;
    justify-content: center;
}
.input{
    background:#DB6F32;
    grid-area: input;
    display: flex;
    justify-content: center;
}
.option{
    background: #000;;
    grid-area: options;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.Flowchart{
    width: 230px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #79FFA6;
    align-items: center;
    display:flex;
    justify-content:center;
}
.Pseduocode{
    width: 230px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #79FFA6;
    display:flex;
    justify-content:center;
    align-items: center;
}
.Our{
    width: 230px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #79FFA6;
    display:flex;
    justify-content:center;
    align-items: center;
}